$color-white: #fff;
$color-white-fade: rgba(255, 255, 255, 0.6);
$color-dark-blue: #001a41;
$color-light-blue: #e8eef1;

$background-color-container: #FFFFFF;
$background-color-gray: #8e918f;

$text-color-primary: #FFFFFF;
$text-color-secondary: #000000;
$text-color-third: #8e918f