@import "../../styles/base.scss";

.login_container {
    @include directionX;
    align-items: center;
    height: 100vh;

    .login_container_inner{
        @include directionX;
        border-radius: 10px;
        padding: 1rem;
        background-color: white;

        @include apply-at-xs-size{
            @include directionY;
        }

        @include apply-at-lg-size{
            @include directionX;
        }
        
        .wrapper_left{
            border-radius: 10px;
            background-image: url("../../assets/register.jpg");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: bottom;

            @include apply-at-xs-size{
                height: 200px;
                width: 100%;
            }

            @include apply-at-lg-size{
                width: 55%;
                height: auto;
            }
        }
        
        .wrapper_right{
            @include apply-at-xs-size{
                width: 100%;
                padding: 0;
                margin-top: 2rem
            }

            @include apply-at-lg-size{
                width: 45%;
                padding: 2rem;
            }

            h5{
                @include font(30px, $font-weight-medium, $text-color-secondary);
                text-align: center;
            }

            .form{
                @include directionY;
                margin-top: 1rem;
                
                .form_label{
                    @include font(14px, $font-weight-light, $text-color-secondary);
                    margin-bottom: .2rem
                }

                input {
                    @include font(16px, $font-weight-regular, $text-color-secondary);
                }

                button {
                    text-transform: capitalize;
                }
            }

          

            .login{
                text-align: center;
                margin-top: .5rem;
                
                @include apply-at-xs-size{
                    @include font(12px, $font-weight-light, $text-color-third);
                }

                @include apply-at-lg-size{
                    @include font(14px, $font-weight-light, $text-color-third);
                }

                a {
                text-decoration: underline;
                cursor: pointer;
                }
            }
        }
    }
}