@import "../../styles/base.scss";

.player_container{
    position: sticky;
    margin-top: auto;
    bottom: 0;
    padding: 1rem;
    background-color: $background-color-container;
    border-radius: 10px 10px 0px 0px;

    @include apply-at-xs-size{
        padding: 0
    }

    .player_container_inner{
        @include directionX;

        .song_info{
            @include directionX;
            align-items: center;
            
            @include apply-at-xs-size{
                width:30%;
            }
            
            @include apply-at-sm-size{
                width:20%;
            }
    
            .song_info_text{
                margin-left: .5rem;

                p:nth-of-type(1){
                    @include apply-at-xs-size{
                        @include font(12px, $font-weight-medium, $text-color-secondary);
                    }
                    
                    @include apply-at-lg-size{
                        @include font(18px, $font-weight-medium, $text-color-secondary);

                    }
                }
                
                p:nth-of-type(2){
                    @include apply-at-xs-size{
                        @include font(8px, $font-weight-regular, $text-color-secondary);
                    }
                    
                    @include apply-at-lg-size{
                        @include font(14px, $font-weight-regular, $text-color-secondary);
                    }
                }
            }
        }

        .indicator{
            @include directionY;
            margin: 0 auto;
            width:60%;
            align-items: center;

            .play_btn{
                margin-top: auto;

                .toggler{
                    font-size: 100rem !important;
                }
            }

            .bar{
                @include directionX;
                align-items: center;

                
               p{
                margin: 0;
                @include font(14px, $font-weight-regular, $text-color-secondary);
               }
                
                input {
                    margin: 0 .5rem;

                    @include apply-at-xs-size{
                        min-width: 10px;
                    }
                    
                    @include apply-at-sm-size{
                        min-width: 200px;
                    }
                    
                    @include apply-at-md-size{
                        min-width: 300px;
                    }

                    @include apply-at-lg-size{                    
                        min-width: 400px;
                    }
                }
            }           
        }

        .volume{
            @include directionX;
            margin: auto;
            width:20%;

            input {
                margin-left: .5rem;
                width: 100%;
            }
        }
    }
}